@keyframes ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.ripple {
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    opacity: 0;
    visibility: hidden
  }

  &:active:before {
    visibility: visible;
    animation: ripple .4s ease-out;
  }

  &.light::before {
    background: darken($light, 5%);
  }

  &.dark::before {
    background: lighten($dark, 5%);
  }

  &.primary::before {
    background: lighten($primary, 5%);
  }
}

.button {
  position: relative;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  overflow: hidden;
  transition: transform 150ms, box-shadow 150ms;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.light {
    background: $light;
    color: $primary!important;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 3px 0 darken($light, 25%);
    }
  }

  &.dark {
    background: $dark;
    color: $light!important;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 3px 0 lighten($dark, 10%);
    }
  }

  &.primary {
    background: $primary;
    color: $background!important;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 3px 0 lighten($primary, 10%);
    }
  }
}
