$primary: #AD0A15;
$secondary: #123808;
$background: #f5f5f5;
$nav-background: $background;
$nav-foreground: $primary;
$dark: #333;
$shadow: rgba(0,0,0,0.25);
$header-font: 'Georgia', 'Times New Roman', Times, serif;
$body-font: 'Lato', Helvetica, sans-serif;