.footer {
  min-height: 250px;

  ul.sitemap {
    >li
    {
      display: flex;
      flex-direction: row;
      >a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 50%;
      }
    }
  }

  .inverse {
    color: $background;
    transition: color 250ms;
    &.hoverable.active {
      color: $primary;
    }
    &.hoverable:hover {
      color: $primary;
    }
  }

  .disclaimer {
    font-size: 9pt;
    line-height: 1.2em;
  }
}

