.footer {
    min-height: 250px;
   
   li a {
       display: block;
       padding-top: 5px;
       padding-bottom: 5px;
   }

   .inverse {
        color: $background;
        transition: color 250ms;
        &.hoverable.active {
            color: $primary;
        }
        &.hoverable:hover {
            color: $primary;
        }
    }

    .disclaimer {
        font-size: 9pt;
        line-height: 1.2em;
    }
}

