@keyframes load {
  0% {
    transform: scale(0.9);
    opacity: 0.8; 
  }
  100% {
    transform: scale(1);
    opacity: 1; 
  }
}

@keyframes float-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: $body-font;
  background-color: $background;
  color: $dark;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  -webkit-tap-highlight-color: transparent!important;
  @media only screen and (max-width: $breakpoint-small) {
    transition: opacity 0.5s, transform 0.5s;
    &.unload {
      transform: scale(0.9);
      opacity: 0.8; 
    }
    animation: load 0.5s;
  }
}

main {
  min-height: 800px;
}

.text-center {
  text-align: center;
}

a { 
  text-decoration: none;
  color: $primary;
  &:visited {
    color: darken($primary, 10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: $header-font;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

h1 {
  font-size: 28pt;
}

.img-responsive {
  max-width: 100%;
}

.page-content {
  line-height: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  h1, h2 {
    color: darken($primary, 10%);
    font-variant: small-caps;
  }

  img {
    display: block;
    max-width: 95%;
    width: auto;
    margin: 0 auto 2em auto;
    background-color: $background;
    box-shadow: 0 3px 6px $shadow;
  }

  p {
    font-size: 14pt;
    line-height: 2em;
  }
}

.off-white {
  z-index: 20;
  transform: translateY(0); // Force to render in same context as hero banner
  background-color: darken($background, 10%);
}

.dark {
    background-color: $dark;
    color: $background;
}

.border-bottom { border-bottom: solid 3px darken($primary, 10%); }
.border-top { border-top: solid 3px darken($primary, 10%); }
.pad-bottom { padding-bottom: 1em; }
.pad-top { padding-top: 1em; }

ul.list-unstyled {
  padding-left: 0;
  li { list-style: none; }
}

.icon-large {
  font-size: 150px;
}

.float-on-hover {
  transition: transform 250ms, text-shadow 250ms;
  text-shadow: 0 0 0 transparent;

  &:hover {
    transform: translateY(-10px);
    text-shadow: 0 10px 10px $shadow;
  }
}

.primary {
    color: darken($primary, 10%);
    transform: color 250ms;
    &.hoverable:hover {
        color: $primary;
    }
}

.distribute {
  width: 100%;
  display: flex;
  &.horizontally {
    flex-direction: row;
  }
  &.vertically {
    flex-direction: column;
  }
  .item {
    flex-grow: 1;
    text-align: center;
  }
}

.float-in {
  animation: float-up 1s ease-out;
}