.hero {
  min-height: 250px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: $page-image-color;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 60px;
  padding: 10px 0;
  @media only screen and (min-width: $breakpoint-small) {
    min-height: 500px;
  }
  &.home {
    background-color: $homepage-image-color;
  }
  &.text {
    >h1 {
      width: 100%;
      text-align: center;      
      font-variant: small-caps;
      font-size: 40pt;
      text-shadow: 0 5px 5px $shadow;
      padding: 10px;
      @media only screen and (min-width: $breakpoint-med) {
        font-size: 60pt;
      }
    }
  }

  * {
    color: $background;
  }

  p {
    font-size: 1.3em;
  }

  .translucent-block {
    color: $background;
    z-index: 10;
    &.primary {
      background-color: transparentize($primary, 0.15);
    }
    &.secondary {
      background-color: transparentize($secondary, 0.15);
    }
    @media only screen and (min-width: $breakpoint-med) {
      margin-left: 50%;
    }
    .content {
      padding: 2em;
    }
  }
}