{% assign address = site.data.seo.structured.address %}
{% assign geo = site.data.seo.structured.geo %}
<footer class="footer dark border-top">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h4><a class="inverse hoverable" href="/">{{site.title}}</a></h4>
        <ul class="list-unstyled">
          {% for navpage in site.pages %}
          {% if navpage.include_in_navigation %}
                <li><a class="inverse hoverable ripple dark" href="{{navpage.url}}">{{navpage.title}}</a></li>
          {% endif %}
          {% endfor %}
          <li>
            <a target="_blank" class="inverse hoverable ripple dark" href="tel:{{seo.structured.telephone}}"><i class="fa fa-phone"></i>: {{seo.structured.telephone}}</a></li>
          <li>
            <a target="_blank" class="inverse hoverable ripple dark" href="https://www.google.com/maps/place/{{address.streetAddress|uri_escape}}+{{address.addressLocality|uri_escape}}+{{address.addressRegion|uri_escape}}"><i class="fa fa-map-marker"></i>: {{address.streetAddress}}
            <br/>{{address.addressLocality}}, {{address.addressRegion}} {{address.postalCode}}}</a></li>
        </ul>
      </div>
      <div class="col-4">
        {% for disclaimer in site.data.seo.legal %}
          <h4>{{disclaimer.title}}</h4>
          <div class="inverse disclaimer">{{disclaimer.disclaimer_markdown | markdownify}}</div>
        {% endfor %}
      </div>
      <div class="col-4 text-center">
        <img class="img-responsive" src="/assets/aila.jpg" alt="American Immigration Lawyers Association Member">
      </div>
    </div>
  </div>
</footer>