<footer class="footer dark border-top">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h4><a class="inverse hoverable" href="/">{{site.title}}</a></h4>
        <ul class="list-unstyled">
            {% for navpage in site.pages %}
                <li><a class="inverse hoverable{% if page.url == navpage.url %} active{%endif%}" href="{{navpage.url}}">{{navpage.title}}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="col-4">
        {% for disclaimer in site.data.seo.legal %}
          <h4>{{disclaimer.title}}</h4>
          <div class="inverse disclaimer">{{disclaimer.disclaimer_markdown | markdownify}}</div>
        {% endfor %}
      </div>
      <div class="col-4">
        <ul class="list-unstyled">
          <li><i class="fa fa-phone"></i>:
            <a target="_blank" class="inverse hoverable" href="tel:{{site.data.seo.phone}}">{{site.data.seo.phone}}</a></li>
          <li><i class="fa fa-map-marker"></i>: 
            <a target="_blank" class="inverse hoverable" href="https://www.google.com/maps/place/{{site.data.seo.address|uri_escape}}+{{site.data.seo.city|uri_escape}}+{{site.data.seo.state|uri_escape}}">{{site.data.seo.address}}
            <br />{{site.data.seo.city}}, {{site.data.seo.state}} {{site.data.seo.zip}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>