<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="geo.position" content="{{site.data.seo.location.lat}},{{site.data.seo.location.long}}">
<meta name="geo.region" content="{{site.data.seo.state}}">
<meta name="geo.placename" content="{{site.data.seo.city}}">
<meta name="description" content="{{site.data.seo.description_text}}">
<meta name="abstract" content="{{site.data.seo.abstract_text}}">
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="shortcut icon" href="/favicon.ico">
<style>{% include css/site.css %}</style>
