<section class="container" style="padding-top: 1em; padding-bottom: 2em;">
  <div class="row">
    <div class="col-6 text-center">
      <h2 class="primary">{{page.location_title}}</h2>
      <h3>
        {{site.address}}<br/>
        {{site.city}}, {{site.state}} {{site.zip}}
      </h3>
      <p>{{page.location_description_markdown | markdownify}}</p>
      <a class="button primary" href="https://www.google.com/maps/place/{{site.address|uri_escape}}+{{site.city|uri_escape}}+{{site.state|uri_escape}}"><i class="fa fa-map-marker"></i> {{page.location_button}}</a>
    </div>
    <div class="col-6">
      <img class="img-responsive"	src="https://maps.googleapis.com/maps/api/staticmap?markers={{site.location.lat}},{{site.location.long}}&zoom=13&size=640x480&scale=2&maptype=roadmap&key=AIzaSyCm_Kyfezuk3iz7-ya1pbwq-ELj17ZULPQ">
    </div>
  </div>
</section>