<nav class="navbar">
    <div class="container">
        <a class="logo" href="/"><img src="/assets/LogoTitle.png"/ alt="{{ site.title }}"></a>
        <div class="links">
            {% for navpage in site.pages %}
            {% if navpage.url != '/' %}
                <a href="{{navpage.url}}"{% if page.url == navpage.url %} class="active"{%endif%}>{{navpage.title}}</a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="icons">
            <a target="_blank" href="https://www.google.com/maps/place/{{site.address|uri_escape}}+{{site.city|uri_escape}}+{{site.state|uri_escape}}"><i class="fa fa-map-marker"></i></a>
            <a target="_blank" href="tel:{{site.phone}}"><i class="fa fa-phone"></i></a>
            <button class="nav-toggle"><i class="fa fa-bars"></i></button>
        </div>
    </div>
</nav>
<nav class="offcanvas-nav">
    <div>
        <h2 class="border-bottom"><a href="{{page.url}}">{{site.title}}</a></h2>
        <div class="links">
            {% for page in site.pages %}
            {% if page.url != '/' %}
                <a href="{{page.url}}">{{page.title}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</nav>