---
layout: root
---

<header class="hero home" style="background-image:url('{{page.banner_image}}'),url('{{page.banner_image | replace: '/assets', '/assets/thumbs'}}');">
	<div class="container row">
		<div class="col-6 text-center translucent-block secondary float-in">
			<div class="content">
				<h2 class="border-bottom pad-bottom">{{page.hero_header}}</h2>
				{{page.hero_content_markdown | markdownify }}
				<a class="button light ripple" href="{{page.hero_link}}">{{page.hero_cta}}</a>
			</div>
		</div>
	</div>
</header>
<main class="main">
	<section class="off-white border-bottom">
		<div class="container">
			<div class="row">
				{% assign areas = site.practice | where:'language',page.language | sort:'order' %}
				{% for area in areas%}
					<div class="col-4 text-center">
						<a class="primary hoverable" href="{{area.url}}">
							<div class="icon-large float-on-hover"><i class="fa fa-{{area.icon}}"></i></div>
							<h3>{{area.title}}</h3>
						</a>
						<p>{{area.description_text}}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="container page-content" style="padding-top: 1em; padding-bottom: 2em;">
				{{ content }}
	</section>
	<img src="/assets/building.jpg" alt="{{site.title}}" style="width:100%;">
	{% include location.html %}
</main>