---
layout: root
---

{% assign res = site.data.translations[page.language] %}
{% if page.banner_image %}
<header class="hero text" style="background-image:url('{{page.banner_image}}')">
  <h1 class="float-in">{{page.title}}</h1>
</header>
{% endif %}
<main class="main">
  <nav class="breadcrumbs container">
    <a href="/" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="url"><span itemprop="title">{{res.home}}</span></a>
    <a href="{{page.url}}" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="url"><span itemprop="title">{{page.title}}</span></a>
  </nav>
	{{ content }}
</main>